@import "../../assets/vendor/css/bootstrap.min";
@import "../../assets/vendor/css/reset";

/* libs */
@import "compass";

html {
	body {
		main[role="main"] {
			font: {
				family: "Roboto";
			}

			.hidden {
				display: none;
			}

			.success {
				color: green;
			}

			.error {
				color: red;
			}

			strong {
				font-weight: bold;
			}				
		}
	}
}