@import "../../assets/vendor/css/bootstrap.min.css";
@import "../../assets/vendor/css/reset.css";

/* libs */
@import "compass";

html {
	body {
		main[role="main"] {
			.hide {
				display: none;
			}

			.show {
				display: initial;
			}

			.success {
				color: green;
			}

			.error {
				color: red;
			}

			body {
				font-family: "Roboto";
			}

			strong {
				font-weight: bold;
			}				
		}
	}
}