@import "../../assets/vendor/css/bootstrap.min";
@import "../../assets/vendor/css/reset";

/* libs */
@import "compass";

.animate-hide {
  transition: all ease-in-out 0.5s;
  opacity: 1;
}

.animate-hide.ng-hide {
  opacity: 0;
}

html {
	body {
		main[role="main"] {
			font: {
				family: "Roboto";
			}

			&.hidden {
				display: none;
			}

			.success {
				color: green;
			}

			.error {
				color: red;
			}

			strong {
				font-weight: bold;
			}				
		}
	}
}